/* font */

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: monospace, 'Aeroport';
    src: url('../fonts/AeroportMono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

/* html */

html {
    font-family: 'Aeroport';
    width: 100%;
}

::selection {
    background-color: #BABABA;
}

body {
    width: 1440px;
    display: block;
    margin: 0 auto;
    position: relative;
}

body::-webkit-scrollbar {
    width: 15px;
    color: white;
  }
  
  body::-webkit-scrollbar-track {
    background: #fff;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 20px; 
    border: 3px solid #000000; 
  }

p {
    color: #000;
    background-color: #BABABA;
    font-family: 'Aeroport';
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

p::selection {
    background-color: #fff;
}

/* cover */

.cover {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    height: 832px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.cover-heading {
    box-sizing: border-box;
    width: 70%;
    height: 178px;
    flex-shrink: 0;
    margin: 19px auto 25px; 
    display: block;
    pointer-events: none;

}

.cover-description {
    color: #000;
    font-family: 'Aeroport';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin: 0 auto;
}

.cover-img {
    width: 402px;
    height: 446px;
    margin: 69px auto 23px; 
    pointer-events: none;
}

/* .hse-cover {
    width:  171px;
    height: 69px;
    flex-shrink: 0;
    margin: -120px 240px 50px 107px;
    pointer-events: none;
} */

a.hse-cover {
    display: flex;
    width:  171px;
    height: 69px;
    flex-shrink: 0;
    margin: -120px 240px 50px 107px;
    background-image: url(../img/hse.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}

a.hse-cover:hover {
    background-image: url(../img/hse-2.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

/* complectation */

.complectation {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
}

table, th, td, tr {
    margin: 0 0 123px 190px; 
    margin: auto;
    border: 3px solid #000;
    border-collapse: collapse;
    font-size: 32px;
    
}

table {
    width: 470px;
    height: 659px;
}

.table-no {
    text-align: center;
}

.table-light {
    font-weight: 300;
    padding-left: 38px;
    
}

.table-light-italic {
    font-weight: 300;
    font-style: italic;
    padding-left: 38px;
}

.table-regular {
    padding-left: 38px;
}

.table-italic {
    font-style: italic;
    padding-left: 38px;
}

.table-medium {
    font-weight: 500;
    padding-left: 38px;
}

.table-medium-italic {
    font-weight: 500;
    font-style: italic;
    padding-left: 38px;
}

.table-bold {
    font-weight: bold;
    padding-left: 38px;
}

.table-bold-italic {
    font-weight: bold;
    font-style: italic;
    padding-left: 38px;
}

.table-mono {
    font-family: monospace, 'Aeroport';
    padding-left: 38px;
}

.complectation-img {
    width: 581px;
    height: 587px;
    margin: auto;
    margin-left: 127px;
    pointer-events: none;

}

/* grotesque */

.grotesque {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.grotesque-img {
    width: 397.046px;
    height: 535.371px;
    flex-shrink: 0;
    margin-top: 65px;
    margin-left: 100px;
    z-index: 1;
    pointer-events: none;
}

.grotesque-p {
    width: 273px;
    height: 170px;
    padding: 14px;
    margin-top: 149px;
    margin-left: -15px;
    z-index: 0;
}

.grotesque-img-2 {
    width: 603.5px;
    height: 340px;
    flex-shrink: 0;
    margin: 176px 48px 0 -15px;
    z-index: 1;
    pointer-events: none;
}

/* bed */

.bed {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.bed-img {
    width: 1174.479px;
    height: 725px;
    margin-left: -120px;
    pointer-events: none;
    z-index: 1;
    margin-left: 10px;
}

.bed-p {
    width: 280px;
    height: 170px;
    padding: 14px;
    margin: 190px 0 0 -100px;
    flex-shrink: 0;
    z-index: 0;
}

/* proportions */

.proportions {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.R {
    width: 422.5px;
    height: 327.72px;
    flex-shrink: 0;
    margin: 62px 0 0 70px;
    z-index: 1;
    pointer-events: none;
}

.proportions-p {
    width: 340px;
    height: 200px;
    padding: 14px;
    margin-top: 50px;
    z-index: 0;
}

.opo {
    width: 475.415px;
    height: 330px;
    flex-shrink: 0;
    margin: -5px 10px 0 -20px;
    z-index: 1;
    pointer-events: none;
}

/* drawer */

.drawer {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.drawer-1 {
    height: 148.608px;
    flex-shrink: 0;
    margin: 126px 1156px 0 92px;
    pointer-events: none;
}

.drawer-p {
    width: 388px;
    height: 200px;
    flex-shrink: 0;
    padding: 14px;
    margin-left: 123px;
}

.drawer-2 {
    height: 90px;
    flex-shrink: 0;
    margin: -150px 0 0 542px;
    pointer-events: none;
}

.drawer-img {
    width: 816.5px;
    height: 430px;
    flex-shrink: 0;
    margin: -50px 0px 0 0px;
}

/* table */

.table {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.table-img {
    width: 1179px;
    height: 1081px;
    flex-shrink: 0;
    margin: 209.5px 160px 0 127px;
    pointer-events: none;
}

.dialogue-1 {
    background-color: white;
    display: flex;
    width: 233px;
    height: 205px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: -1055px 0px 0 520px;
}

.dialogue-1::selection {
    background-color: #BABABA;
}

.dialogue-2 {
    background-color: white;
    display: flex;
    width: 304px;
    height: 206px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: -816px 0 0 995px;
}

.dialogue-2::selection {
    background-color: #BABABA;
}

.dialogue-3 {
    background-color: white;
    display: flex;
    width: 409px;
    height: 190px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: -203px 0 0 855px;
}

.dialogue-3::selection {
    background-color: #BABABA;
}

/* armchair */

.armchair {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.armchair-p {
    display: flex;
    width: 378px;
    height: 492px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: 5px 0px 0px 40px;
    margin: 284px 0 0 154px;
}

.armchair-img {
    width: 580.468px;
    height: 537.5px;
    flex-shrink: 0;
    margin: -500px 175.33px 0 721px;
    pointer-events: none;
}

/* numbers */

.numbers {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.receipt {
    width: 478px;
    height: 715px;
    flex-shrink: 0;
    margin: 234px 0 0 158px;
    pointer-events: none;
}

.calc {
    width: 533px;
    height: 715px;
    flex-shrink: 0;
    margin: 234px 158px 0 113px;
    pointer-events: none;
}

/* glyph */

.glyph {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.glyph-img {
    width: 1134px;
    height: 1022.091px;
    flex-shrink: 0;
    pointer-events: none;
    margin: 143px auto 0 auto;
    z-index: 1;
}

.glyph-p {
    display: flex;
    width: 388px;
    height: 247px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: 18px;
    margin: -640px 0 0 901px;
    z-index: 0;
}

/* lang */

.lang {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.lang-img {
    width: 1246px;
    height: 660px;
    flex-shrink: 0;
    margin: 211.91px auto 0 auto;
    z-index: 1;
    pointer-events: none;
}

.lang-p {
    display: flex;
    width: 320px;
    height: 97px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    margin: -715px 0 0 336px;
    z-index: 0;
}

.lanp-p-2 {
    display: flex;
    width: 632px;
    height: 260px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: 18px;
    margin: -465px 632px 0 170px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.lang-p-2::selection {
    background-color: #BABABA;
}

/* authors */

.authors {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.authors-heading {
    display: flex;
    width: 214px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-weight: 700;
    margin: 153px 0 0 277px;
    background-color: #fff;
}

.authors-img {
    width: 489px;
    height: 141px;
    flex-shrink: 0;
    margin: 34px 811px 0 140px;
    z-index: 0;
    pointer-events: none;
}

.authors-p-1 {
    display: flex;
    width: 239px;
    height: 58px;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: -134px 0 0 242px;
    background-color: rgb(255,255,255,0);
    z-index: 1;
}

.authors-p-2 {
    display: flex;
    width: 254px;
    height: 58px;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: -67px 944px 0 242px;
    background-color: rgb(255,255,255,0);
    z-index: 1;
}

.authors-p::selection {
    background-color: #BABABA;
}

.download-img {
    width: 431px;
    height: 244px;
    flex-shrink: 0;
    margin: -237px 0 0 862px;
    pointer-events: none;
}

/* end */

.end {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.end-p-1 {
    display: flex;
    width: 392px;
    height: 58px;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 68px;
    background-color: #fff;
}

.end-p-1::selection {
    background-color: #BABABA;
}

.end-p-2 {
    display: flex;
    width: 392px;
    height: 58px;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: auto;
    margin-top: 68px;
    background-color: #fff;
}

.end-p-2::selection {
    background-color: #BABABA;
}

.end-p-3 {
    display: flex;
    width: 392px;
    height: 58px;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 0;
    margin-top: 68px;
    background-color: #fff;
}

.end-p-3::selection {
    background-color: #BABABA;
}
